<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons ng-show="authData.uid" side="right">
        <!--<button class="button button-icon button-clear ion-plus-circled" title="Adaugă o afacere" ng-click="addAfacere()">
        </button>-->
        <!--<div ng-show="currentState=='app.afaceri'">
  <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Filtrează după nume" ng-model="searchKey" autocorrect="off" >
        </label>
  <button class="button button-clear" ng-show="searchKey" ng-click="clearSearch()">X</button>
</div>-->
        <!--<div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Filtrează după nume" ng-model="searchKey" autocorrect="off" >
  </label>
          <button class="button button-clear" ng-show="searchKey" ng-click="clearSearch()">Cancel</button>
        </div>-->
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS -->
    <ion-tabs>
      <ion-tab title="Cauta profesionist" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/app/afaceri">
        <ion-nav-view name="tab-afaceri"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Browse" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/afacerilemele">
        <ion-nav-view name="tab-myafaceri"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

  </ion-side-menu-content>

  <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Meniu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-hide="authData.uid" menu-close ng-click="login()">
          <i class="ion-log-in icon"></i> Login
        </ion-item>
        <ion-item ng-show="authData.uid" menu-close ng-click="logout()">
          <i class="ion-log-out icon"></i> Logout
        </ion-item>
        <ion-item menu-close href="#/setari">
          <i class="ion-ios-settings icon"></i> Setări
        </ion-item>
        <ion-item menu-close href="#/programari-list">
          <i class="ion-android-time icon"></i> Programări
        </ion-item>
        <ion-item ng-show="authData.uid && userData.roles.proprietar" menu-close ng-click="addAfacere()">
          <i class="ion-plus-circled icon"></i> Adaugă o afacere
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>