<!--<ion-view view-title="Setări">
  <ion-content>
    <h1>Setări</h1>
  </ion-content>
</ion-view>-->
<ion-view view-title="Setări">
  <div class="bar item-input-inset">
    <ion-nav-bar class="bar bar-header bar-stable nav-title-slide-ios7">
      <ion-nav-buttons side="left">
        <a class="button button-icon ion-android-arrow-back" href="#/app/afaceri"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
  </div>
  <ion-content class="padding">
    <div class="list">
      <div class="logoText">
        <h3>Bun venit, <strong>{{userData.displayName}}</strong>!</h3>
        <h4>Sunteți autentificat ca și: {{userData.email}}</h4>
        <h4>Tip cont: {{userData.roles.proprietar?'Companie':'Utilizator'}}</h4>
      </div>
      <label class="item item-input">
                <span class="input-label">Nume</span>
                <input type="text" ng-model="userData.displayName">
      </label>

    </div>
    <div class="list" style="text-align:center">
      <button class="button button-balanced" ng-click="updateProfile(userData)">
            Salvează
        </button>
      <br>
      <br>
      <button ng-click="logout()" class="button button-small button-outline icon-left ion-log-out button-positive">
         Logout
      </button>
      <button ng-click="newUser()" class="button button-small button-outline icon-left ion-person-add button-positive">
               Creaza un cont nou
      </button>

    </div>
  </ion-content>
</ion-view>