<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Creaza un cont nou</h1>
        <button class="button button-clear button-primary" ng-click="closeNewUser()">Renunta</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input ng-model="user.email" type="email">
            </label>
            <label class="item item-input">
                <span class="input-label">Parola</span>
                <input ng-model="user.password" type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">Nume</span>
                <input ng-model="user.displayName" type="text">
            </label>
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="user.companie">
                    </label> Companie
            </li>
            <button class="button button-full button-positive" ng-click="createUser(user)">Salveaza</button>
        </div>
    </ion-content>
</ion-modal-view>