<ion-view view-title="{{numeView}}">
    <div class="bar item-input-inset">
        <ion-nav-bar class="bar bar-header bar-stable nav-title-slide-ios7">
            <!--<ion-nav-buttons side="left">
    <a class="button button-icon ion-android-arrow-back" href="#/app/afaceri/{{idAfacere}}"></a>
</ion-nav-buttons>-->
            <ion-nav-back-button> </ion-nav-back-button>
            <!--<ion-nav-buttons side="right">
                <a ng-hide="typeOfAuth()===1" class="button button-icon ion-android-done" ng-click="setProgramari()">Rezervare ore selectate</a>
            </ion-nav-buttons>-->
            <!--<ion-nav-buttons side="right">
                <a class="button button-icon ion-more" ng-click="popover.show($event)"></a>
            </ion-nav-buttons>-->
        </ion-nav-bar>
    </div>
    <ion-content has-header="true" padding="true">
        <h4 ng-show="!selectedDate.date">Alege o dată</h4>
        <div class="row">
            <div class="col col-75">
                <label class="item item-input">
            <span class="input-label">Dată</span>
            <input type="date" ng-change="getHours(selectedDate.date)" ng-init="getHours(selectedDate.date)" ng-model="selectedDate.date">
                 </label>
            </div>
            <!--<div class="col">
                <button class="button" ng-click="getHours(selectedDate.date)">
               OK
            </button>
            </div>-->
        </div>
        <div class="card" ng-show="error">
            <div class="item item-text-wrap bg_error">
                {{error}}
            </div>
        </div>
        <ion-list ng-hide="!selectedDate.date">
            Orele disponibile pentru:<strong> {{weekday[selectedDate.date.getDay()]}} {{selectedDate.date | date:"dd/MM/yyyy"}}</strong>            <br> Orar:de la {{afacere.orar[weekday[selectedDate.date.getDay()]].start}} până la {{afacere.orar[weekday[selectedDate.date.getDay()]].stop}}
            <ion-item ng-class="whatClassIsIt(item)" class="item-icon-right" ng-repeat="item in allHours track by item.id" item="item">
                <div>
                    <div ng-if="!$last">
                        <span> {{item.hour | date:"'de la ora' HH:mm"}}</span> pană la ora
                        <span> {{allHours[$index+1].hour | date:"HH:mm"}}</span>
                    </div>
                    <ion-option-button class="button button-calm" ng-disabled="disableDetailsBtn(item)" ng-click="openDetails(item)">
                        Detalii
                    </ion-option-button>
                    <ion-option-button class="button button-positive" ng-hide="typeOfAuth() === 1" ng-click="onSelected(item)">
                        {{item.selected ? "Șterge selecția" :"Rezervă"}}
                    </ion-option-button>
                    <div class="icon" ng-show="typeOfAuth() === 1 && item.user">
                        <span class="ion-ios-arrow-left"> </span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>