<ion-view view-title="{{numeView}}">
    <div class="bar item-input-inset">
        <ion-nav-bar class="bar bar-header bar-stable nav-title-slide-ios7">
            <ion-nav-buttons side="left">
                <a class="button button-icon ion-android-arrow-back" href="#/app/afaceri"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
    </div>
    <ion-content has-header="true" padding="true">

    </ion-content>
</ion-view>