<ion-view title="Adauga afacere">
    <div class="bar item-input-inset">
        <ion-nav-bar class="bar bar-header bar-stable nav-title-slide-ios7">
            <ion-nav-buttons side="left">
                <a class="button button-icon ion-android-arrow-back" href="#/app/afaceri"></a>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-balanced" ng-click="save()">
                    Salvează
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="secondary">
                <button class="button button-assertive" ng-click="cancel()">
                   Anulează
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </div>
    <ion-content class="has-header">
        <div class="list ">
            <label class="item item-input item-floating-label">
                <!--Nume-->
                <span class="input-label item-floating-label">Nume*</span>
                <input type="text" ng-model="afacere.nume" placeholder="Nume*">
            </label>
            <!--Adresa-->
            <label class="item item-input item-floating-label">
                <span class="input-label">Adresa*</span>
                <input type="text" ng-model="afacere.adresa" placeholder="Adresa*">
            </label>
            <!--Email-->
            <label class="item item-input item-floating-label">
                <span class="input-label">Email*</span>
                <input type="email" ng-model="afacere.email" placeholder="Email*">
            </label>
            <!--Site-->
            <label class="item item-input item-floating-label">
                <span class="input-label">Site</span>
                <input type="text" ng-model="afacere.site" placeholder="Site">
            </label>
            <!--Telefon-->
            <label class="item item-input item-floating-label">
                <span class="input-label">Telefon*</span>
                <input type="tel" ng-model="afacere.telefon" placeholder="Telefon*">
            </label>
            <!--Orar-->
            <h1><label class="item" style="text-align: center"><strong>Orar</strong></label></h1>
            <!--luni-->
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="luni">
                    </label> Luni
            </li>
            <div class="row" ng-show="luni">
                <label class="item item-input col">
                <span class="input-label">Start</span>
                <input type="time" ng-model="afacere.orar.luni.start">
            </label>
                <label class="item item-input col">                
                <span class="input-label">Stop</span>
                <input type="time" ng-model="afacere.orar.luni.stop">
            </label>
            </div>
            <!--marti-->
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="marti">
                    </label> Marti
            </li>
            <div class="row" ng-show="marti">
                <label class="item item-input col">
                <span class="input-label">Start</span>
                <input type="time" ng-model="afacere.orar.marti.start">
            </label>
                <label class="item item-input col">                
                <span class="input-label">Stop</span>
                <input type="time" ng-model="afacere.orar.marti.stop">
            </label>
            </div>
            <!--miercuri-->
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="miercuri">
                    </label> Miercuri
            </li>
            <div class="row" ng-show="miercuri">
                <label class="item item-input col">
                <span class="input-label">Start</span>
                <input type="time" ng-model="afacere.orar.miercuri.start">
            </label>
                <label class="item item-input col">                
                <span class="input-label">Stop</span>
                <input type="time" ng-model="afacere.orar.miercuri.stop">
            </label>
            </div>
            <!--joi-->
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="joi">
                    </label> Joi
            </li>
            <div class="row" ng-show="joi">
                <label class="item item-input col">
                <span class="input-label">Start</span>
                <input type="time" ng-model="afacere.orar.joi.start">
            </label>
                <label class="item item-input col">                
                <span class="input-label">Stop</span>
                <input type="time" ng-model="afacere.orar.joi.stop">
            </label>
            </div>
            <!--vineri-->
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="vineri">
                    </label> Vineri
            </li>
            <div class="row" ng-show="vineri">
                <label class="item item-input col">
                <span class="input-label">Start</span>
                <input type="time" ng-model="afacere.orar.vineri.start">
            </label>
                <label class="item item-input col">                
                <span class="input-label">Stop</span>
                <input type="time" ng-model="afacere.orar.vineri.stop">
            </label>
            </div>
            <!--sambata-->
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="sambata">
                    </label> Sambata
            </li>
            <div class="row" ng-show="sambata">
                <label class="item item-input col">
                <span class="input-label">Start</span>
                <input type="time" ng-model="afacere.orar.sambata.start">
            </label>
                <label class="item item-input col">                
                <span class="input-label">Stop</span>
                <input type="time" ng-model="afacere.orar.sambata.stop">
            </label>
            </div>
            <!--duminica-->
            <li class="item item-checkbox">
                <label class="checkbox">
                        <input type="checkbox" ng-model="duminica">
                    </label> Duminica
            </li>
            <div class="row" ng-show="duminica">
                <label class="item item-input col">
                <span class="input-label">Start</span>
                <input type="time" ng-model="afacere.orar.duminica.start">
            </label>
                <label class="item item-input col">                
                <span class="input-label">Stop</span>
                <input type="time" ng-model="afacere.orar.duminica.stop">
            </label>
            </div>
        </div>
    </ion-content>
</ion-view>