<ion-view title="Detalii: ">
    <div class="bar item-input-inset">
        <ion-nav-bar class="bar bar-header bar-stable nav-title-slide-ios7">
            <!--<ion-nav-buttons side="left">
                <a class="button button-icon ion-android-arrow-back" href="#/app/afaceri"></a>
            </ion-nav-buttons>-->
            <ion-nav-back-button> </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <a class="button button-icon ion-calendar" ng-click="goToProgramari()">Fă o programare!</a>
            </ion-nav-buttons>
        </ion-nav-bar>
    </div>
    <ion-content has-header="true" padding="true">
        <!--<div class="list card">-->
        <h2>{{afacere.nume}}</h2>
        <!--</div>-->
        <div class="list card">

            <a href="tel:{{afacere.telefon}}" class="item item-icon-left">
                <i class="icon ion-android-call"></i>Telefon
                <p>{{afacere.telefon}}</p>
            </a>

            <a href="sms:{{afacere.telefon}}" class="item item-icon-left">
                <i class="icon ion-android-textsms"></i>SMS
                <p>{{afacere.telefon}}</p>
            </a>

            <a href="mailto:{{afacere.email}}" class="item item-icon-left">
                <i class="icon ion-email"></i>Email
                <p>{{afacere.email}}</p>
            </a>

            <a href="{{afacere.site}}" class="item item-icon-left">
                <i class="icon ion-link"></i>Site
                <p>{{afacere.site}}</p>
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i>Adresa
                <p>{{afacere.adresa}}</p>
            </a>

        </div>

        <div class="card">
            <div class="item item-divider">
                <i class="icon ion-clock"></i> Orar
            </div>
            <div class="item item-text-wrap">
                <p><strong>Luni: </strong>{{(afacere.orar.luni.start && afacere.orar.luni.stop) ? (afacere.orar.luni.start + "-"+ afacere.orar.luni.stop) : " Inchis"}}</p>
                <p><strong>Marti: </strong>{{(afacere.orar.marti.start && afacere.orar.marti.stop) ? (afacere.orar.marti.start + "-"+ afacere.orar.marti.stop) : " Inchis"}}</p>
                <p><strong>Miercuri: </strong>{{(afacere.orar.miercuri.start && afacere.orar.miercuri.stop) ? (afacere.orar.miercuri.start + "-"+ afacere.orar.miercuri.stop) : " Inchis"}}</p>
                <p><strong>Joi: </strong>{{(afacere.orar.joi.start && afacere.orar.joi.stop) ? (afacere.orar.joi.start + "-"+ afacere.orar.joi.stop) : " Inchis"}}</p>
                <p><strong>Vineri: </strong>{{(afacere.orar.vineri.start && afacere.orar.vineri.stop) ? (afacere.orar.vineri.start + "-"+ afacere.orar.vineri.stop) : " Inchis"}}</p>
                <p><strong>Sambata: </strong>{{(afacere.orar.sambata.start && afacere.orar.sambata.stop) ? (afacere.orar.sambata.start + "-"+ afacere.orar.sambata.stop) : " Inchis"}}</p>
                <p><strong>Duminica: </strong>{{(afacere.orar.duminica.start && afacere.orar.duminica.stop) ? (afacere.orar.duminica.start + "-"+ afacere.orar.duminica.stop) : " Inchis"}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>