<ion-view view-title="Afaceri și profesioniști">

    <!--<ion-header-bar class="bar bar-subheader item-input-inset">
    </ion-header-bar>-->
    <div class="bar bar-subheader item-input-inset">

        <!--<ion-nav-buttons side="right">
            <button class="button button-icon ion-plus" ng-click="addAfacere()">
            </button>
        </ion-nav-buttons>-->

        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Filtrează după nume" ng-model="searchKey" autocorrect="off" >
        </label>
        <button class="button button-clear" ng-show="searchKey" ng-click="clearSearch()">X</button>

        <!--<button class="button button-clear" ng-click="search()">Search</button>-->
    </div>

    <ion-content class="has-header has-subheader">
        <ion-refresher pulling-text="Trage pentru a reîncărca datele..." on-refresh="doRefresh()"> </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="afacere in afaceri | filter:searchKey" type="item-text-wrap" href="#/app/afaceri/{{afacere.$id}}">
                <!--  <img src="pics/{{afacere.pic}}"/> -->
                <strong>{{afacere.nume}}</strong>
                <p>{{afacere.site}}</p>
                <span style="float:right;font-size:20px;">
                    <i class="ion-android-star icon"></i>
                    <i class="ion-android-star-half icon"></i>
                    <i class="ion-android-star-outline icon"></i>
                    <i class="ion-ios-star-outline icon"></i>
                </span>
            </ion-item>
        </ion-list>
        <!--<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="canSwipe">
            <ion-item ng-repeat="item in items" class="item-thumbnail-left">
                <img ng-src="{{item.img}}">
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <ion-option-button class="button-positive" ng-click="action1(item)">
                    Action 1
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="action2(item)">
                    Action 2
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="items.splice($fromIndex, 1);items.splice($toIndex, 0, item);">
                </ion-reorder-button>
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>