<ion-view view-title="Afacerile mele">
    <div class="bar item-input-inset">
        <ion-nav-bar class="bar bar-header bar-stable nav-title-slide-ios7">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button>
            </ion-nav-buttons>
            <!--<ion-nav-buttons >
                <a class="button button-icon ion-edit" ng-show="selected" ng-click="onGestionare(selected)">Programări</a>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class="button button-icon ion-edit" ng-show="selected" ng-click="onEdit(selected)">Modifica</a>
            </ion-nav-buttons>-->
            <ion-nav-buttons side="right">
                <a class="button button-icon ion-more" ng-show="selected" ng-click="popover.show($event)"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
    </div>
    <ion-content>
        <h1>Afacerile mele</h1>
        <ion-refresher pulling-text="Trage pentru a reîncărca datele..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-click="onSelected(afacere)" ng-class="afacere.class" ng-repeat="afacere in afacerilemele" type="item-text-wrap">
                <strong> {{afacere.nume}}</strong>
                <p>{{afacere.site}}</p>
            </ion-item>
        </ion-list>
        <!--<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="canSwipe">
            <ion-item ng-repeat="item in items" class="item-thumbnail-left">
                <img ng-src="{{item.img}}">
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <ion-option-button class="button-positive" ng-click="action1(item)">
                    Action 1
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="action2(item)">
                    Action 2
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="items.splice($fromIndex, 1);items.splice($toIndex, 0, item);">
                </ion-reorder-button>
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-view>