<ion-popover-view>
    <ion-content>
        <!--<div class="list">
            <a class="button button-icon ion-edit" ng-click="onGestionare(selected)">Programări</a>
            <a class="button button-icon ion-edit" ng-click="onEdit(selected)">Modifica</a>
        </div>-->
        <p>
            <button class="button button-icon ion-calendar" ng-click="onGestionare(selected)"> Programări</button>
        </p>
        <p>
            <button class="button button-icon ion-edit" ng-click="onEdit(selected)"> Modifică</button>
        </p>
        <!--<ion-item>
            <a class="button button-icon ion-edit" ng-click="onGestionare(selected)">Programări</a>
        </ion-item>
        <ion-item>
            <a class="button button-icon ion-edit" ng-click="onEdit(selected)">Modifica</a>
        </ion-item>-->
    </ion-content>
</ion-popover-view>