<div>
    {{identificator}}
    <!--<strong> {{weekday[selectedDate.date.getDay()]}} {{selectedDate.date | date:"dd/MM/yyyy"}}</strong> {{currentItem.idNou}}-->
</div>

<ion-toggle ng-repeat="user in currentItem.user" ng-model="user.toggleValue"  ng-value="user.uid" ng-change="changeStatus(user)">
    {{ user.nume }}: <strong>{{user.status}}</strong>
</ion-toggle>
<!--<ion-radio ng-repeat="user in currentItem.user" ng-value="user.uid" ng-change="consola(identificator)" ng-model="identificator">
    {{ user.nume }}: <strong>{{user.status}}</strong>
</ion-radio>-->