<div>
      <span>Programare de la ora <strong>{{currentItem.hour | date:"HH:mm"}}</strong></span> în data de <strong> {{weekday[selectedDate.date.getDay()]}} {{selectedDate.date | date:"dd/MM/yyyy"}}</strong>          
</div>
<div>
    <ion-toggle ng-model="currentItem.delete" toggle-class="toggle-calm">Anulezi programarea?</ion-toggle>
</div>