<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="button button-icon ion-android-done" ng-click="setProgramari()"> Rezervare ore selectate</a>
            <a class="button button-icon ion-search" ng-click=""> Detalii</a>
        </div>
    </ion-content>
</ion-popover-view>