/* Empty. Add your own CSS if you like */
.bg_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.bg_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.bg_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.bg_error {
    color: #D8000C;
    background-color: #FFBABA;
}

.programare_success{
     color: #4F8A10 !important;
    background-color: #DFF2BF !important;
}
.programare_waiting {
    color: #9F6000 !important;
    background-color: #FEEFB3 !important;
    flood-color:  #9F6000 !important;
}
.programare_rejected {
    color: #D8000C !important;
    background-color: #FFBABA !important;
    border-color: #D8000C !important;
}
.bordura {
    border-style: solid;
    border-width: 2px;
    border-color: #696969;
}

.popup {
width: 90% !important;
}